
# NET VD<0>	LOC=P142 | IOSTANDARD=LVCMOS33 |PULLUP;
# NET VD<0>	LOC=P142 | IOSTANDARD=LVCMOS33 | DRIVE=16;

NET VD<0>	LOC=P116;
NET VD<1>	LOC=P113;
NET VD<2>	LOC=P111;
NET VD<3>	LOC=P110;
NET VD<4>	LOC=P112;
NET VD<5>	LOC=P115;
NET VD<6>	LOC=P58;
NET VD<7>	LOC=P59;

NET VA<0>	LOC=P119;
NET VA<1>	LOC=P120;
NET VA<2>	LOC=P121;
NET VA<3>	LOC=P125;
NET VA<4>	LOC=P126;
NET VA<5>	LOC=P131;
NET VA<6>	LOC=P133;
NET VA<7>	LOC=P136;
NET VA<8>	LOC=P135;
NET VA<9>	LOC=P132;
NET VA<10>	LOC=P124;
NET VA<11>	LOC=P134;
NET VA<12>	LOC=P138;
NET VA<13>	LOC=P137;
NET VA<14>	LOC=P7;
NET VA<15>	LOC=P10;
NET VA<16>	LOC=P9;
NET VA<17>	LOC=P4;
NET VA<18>	LOC=P11;

NET FA<15>	LOC=P71;
NET FA<16>	LOC=P105;
NET FA<17>	LOC=P106;
NET FA<18>	LOC=P107;

NET D<0>	LOC=P85;
NET D<1>	LOC=P83;
NET D<2>	LOC=P82;
NET D<3>	LOC=P81;
NET D<4>	LOC=P80;
NET D<5>	LOC=P79;
NET D<6>	LOC=P78;
NET D<7>	LOC=P77;

NET A<0>	LOC=P104;
NET A<1>	LOC=P103;
NET A<2>	LOC=P102;
NET A<3>	LOC=P101;
NET A<4>	LOC=P100;
NET A<5>	LOC=P98;
NET A<6>	LOC=P97;
NET A<7>	LOC=P96;
NET A<8>	LOC=P95;
NET A<9>	LOC=P94;
NET A<10>	LOC=P93;
NET A<11>	LOC=P92;
NET A<12>	LOC=P91;
NET A<13>	LOC=P87;
NET A<14>	LOC=P88;
NET A<15>	LOC=P86;

NET VPA		LOC=P74;
NET VDA		LOC=P75;
	
NET NSEL1	LOC=P69;
NET NSEL2	LOC=P68;
NET NSEL4	LOC=P66;

NET NVRAMSEL	LOC=P130;
NET RAMRWB	LOC=P139;

NET GRAPHIC	LOC=P70;

NET HSYNC	LOC=P48;
NET VSYNC	LOC=P49;
NET PXL 	LOC=P46; 
NET DCLK	LOC=P45;
NET DENA	LOC=P41;
NET PET_VSYNC	LOC=P43;

NET Q50M	LOC=P30;
NET Q50M	BUFG=CLK;

NET RWB		LOC=P20;
NET NRES	LOC=P143;
NET NRES	BUFG=SR;

#NET RDY_IN	LOC=P50;

NET PHI2_IO	LOC=P38;
NET PHI2_IO	BUFG=CLK;
#NET PHI2_IO	NOREDUCE;

#NET MLB		LOC=P21;
#NET VPB		LOC=P22;
NET E			LOC=P142;
#NET MX		LOC=P24;

NET SPI_OUT		LOC=P54;
NET SPI_CLK		LOC=P50;

NET SPI_IN1		LOC=P129;
NET SPI_IN3		LOC=P118;

NET NFLASH		LOC=P52;
NET SPI_NSEL2		LOC=P34;
NET SPI_NSEL3		LOC=P39;
NET SPI_NSEL4		LOC=P44;

NET SPI_NSEL5		LOC=P60;

NET MEMCLK		BUFG=CLK;
#NET MEMCLK		NOREDUCE;

#NET PHI2		BUFG=CLK;
NET PHI2		LOC=P5;	#P32;

