
# NET VD<0>	LOC=P142 | IOSTANDARD=LVCMOS33 |PULLUP;
# NET VD<0>	LOC=P142 | IOSTANDARD=LVCMOS33 | DRIVE=16;

NET VD<0>	LOC=P116;
NET VD<1>	LOC=P113;
NET VD<2>	LOC=P111;
NET VD<3>	LOC=P110;
NET VD<4>	LOC=P112;
NET VD<5>	LOC=P115;
NET VD<6>	LOC=P58;
NET VD<7>	LOC=P59;

NET VA<0>	LOC=P119;
NET VA<0>	LOWPWR;
NET VA<1>	LOC=P120;
NET VA<1>	LOWPWR;
NET VA<2>	LOC=P121;
NET VA<2>	LOWPWR;
NET VA<3>	LOC=P125;
NET VA<3>	LOWPWR;
NET VA<4>	LOC=P130;	#P126;
NET VA<4>	LOWPWR;
NET VA<5>	LOC=P131;	# actually P132, P131 is VA11
NET VA<5>	LOWPWR;
NET VA<6>	LOC=P133;	# actually P134, P133 is VA9
NET VA<6>	LOWPWR;
NET VA<7>	LOC=P136;
NET VA<7>	LOWPWR;
NET VA<8>	LOC=P135;
NET VA<8>	LOWPWR;
NET VA<9>	LOC=P132;	# actually P133, P132 is VA5
NET VA<9>	LOWPWR;
NET VA<10>	LOC=P124;
NET VA<10>	LOWPWR;
NET VA<11>	LOC=P134;	# actually P131, P134 is VA6
NET VA<11>	LOWPWR;
NET VA<12>	LOC=P138;
NET VA<12>	LOWPWR;
NET VA<13>	LOC=P137;
NET VA<13>	LOWPWR;
NET VA<14>	LOC=P7;
NET VA<14>	LOWPWR;
NET VA<15>	LOC=P10;
NET VA<15>	LOWPWR;
NET VA<16>	LOC=P9;
NET VA<16>	LOWPWR;
NET VA<17>	LOC=P4;
NET VA<17>	LOWPWR;
NET VA<18>	LOC=P11;
NET VA<18>	LOWPWR;

NET FA<15>	LOC=P71;
NET FA<16>	LOC=P105;
NET FA<17>	LOC=P106;
NET FA<18>	LOC=P107;

NET D<0>	LOC=P86;
NET D<1>	LOC=P83;
NET D<2>	LOC=P82;
NET D<3>	LOC=P81;
NET D<4>	LOC=P80;
NET D<5>	LOC=P79;
NET D<6>	LOC=P78;
NET D<7>	LOC=P77;

NET A<0>	LOC=P104;
NET A<1>	LOC=P103;
NET A<2>	LOC=P102;
NET A<3>	LOC=P101;
NET A<4>	LOC=P100;
NET A<5>	LOC=P98;
NET A<6>	LOC=P97;
NET A<7>	LOC=P96;
NET A<8>	LOC=P95;
NET A<9>	LOC=P94;
NET A<10>	LOC=P93;
NET A<11>	LOC=P92;
NET A<12>	LOC=P91;
NET A<13>	LOC=P87;
NET A<14>	LOC=P88;
NET A<15>	LOC=P85;

NET VPA		LOC=P74;
NET VDA		LOC=P75;
	
NET NSEL1	LOC=P69;
NET NSEL2	LOC=P68;
NET NSEL4	LOC=P66;

NET NVRAMSEL	LOC=P126;
NET NFRAMSEL	LOC=P2;
NET RAMRWB	LOC=P139;

NET GRAPHIC	LOC=P70;

NET HSYNC	LOC=P48;
NET VSYNC	LOC=P49;
NET PXL 	LOC=P46; 
NET DCLK	LOC=P45;
NET DENA	LOC=P41;
NET PET_VSYNC	LOC=P43;

NET Q50M	LOC=P30;
NET Q50M	BUFG=CLK;

NET RWB		LOC=P20;
NET NRES	LOC=P143;
NET NRES	BUFG=SR;

NET PHI2_IO	LOC=P38;
NET PHI2_IO	BUFG=CLK;

NET MLB		LOC=P21;
NET VPB		LOC=P22;
NET E			LOC=P142;
NET MX			LOC=P24;

NET SPI_OUT		LOC=P54;
NET SPI_CLK		LOC=P50;

NET SPI_IN1		LOC=P129;
NET SPI_IN3		LOC=P118;

NET NFLASH		LOC=P52;
NET SPI_NSEL2		LOC=P34;
NET SPI_NSEL3		LOC=P39;
NET SPI_NSEL4		LOC=P40;

NET SPI_NSEL5		LOC=P60;

#NET MEMCLK		BUFG=CLK;
#NET MEMCLK		NOREDUCE;

#NET PHI2		BUFG=CLK;
NET PHI2		LOC=P57;

#NET UNUSED<0>		LOC=P5;
#NET UNUSED<0>		LOWPWR;
#NET UNUSED<0>		PULLDOWN;		# unsupported for XC9500..
#NET UNUSED<1>		LOC=P6;
#NET UNUSED<1>		LOWPWR;
#NET UNUSED<2>		LOC=P3;
#NET UNUSED<2>		LOWPWR;
#NET UNUSED<3>		LOC=P23;
#NET UNUSED<3>		LOWPWR;
#NET UNUSED<4>		LOC=P25;
#NET UNUSED<4>		LOWPWR;
#NET UNUSED<5>		LOC=P26;
#NET UNUSED<5>		LOWPWR;
#NET UNUSED<6>		LOC=P27;
#NET UNUSED<6>		LOWPWR;
#NET UNUSED<7>		LOC=P12;
#NET UNUSED<7>		LOWPWR;
#NET UNUSED<8>		LOC=P13;
#NET UNUSED<8>		LOWPWR;
#NET UNUSED<9>		LOC=P14;
#NET UNUSED<9>		LOWPWR;
#NET UNUSED<10>		LOC=P15;
#NET UNUSED<10>		LOWPWR;
#NET UNUSED<11>		LOC=P16;
#NET UNUSED<11>		LOWPWR;
#NET UNUSED<12>		LOC=P17;
#NET UNUSED<12>		LOWPWR;
#NET UNUSED<13>		LOC=P19;
#NET UNUSED<13>		LOWPWR;
#NET UNUSED<14>		LOC=P28;
#NET UNUSED<14>		LOWPWR;
#NET UNUSED<15>		LOC=P31;
#NET UNUSED<15>		LOWPWR;
#NET UNUSED<16>		LOC=P33;
#NET UNUSED<16>		LOWPWR;
#NET UNUSED<17>		LOC=P44;
#NET UNUSED<17>		LOWPWR;
#NET UNUSED<18>		LOC=P140;
#NET UNUSED<18>		LOWPWR;
#NET UNUSED<19>		LOC=P51;
#NET UNUSED<19>		LOWPWR;
#NET UNUSED<20>		LOC=P53;
#NET UNUSED<20>		LOWPWR;
#NET UNUSED<21>		LOC=P56;
#NET UNUSED<21>		LOWPWR;
#NET UNUSED<22>		LOC=P117;
#NET UNUSED<22>		LOWPWR;
#NET UNUSED<23>		LOC=P128;
#NET UNUSED<23>		LOWPWR;
#NET UNUSED<24>		LOC=P61;
#NET UNUSED<24>		LOWPWR;
#NET test		LOC=P64;
#NET test		LOWPWR;
#NET dbg_out		LOC=P76;
#NET dbg_out		LOWPWR;

