
# NET VD<0>	LOC=P142 | IOSTANDARD=LVCMOS33 |PULLUP;
# NET VD<0>	LOC=P142 | IOSTANDARD=LVCMOS33 | DRIVE=16;

NET VD<0>	LOC=P142;
NET VD<1>	LOC=P140;
NET VD<2>	LOC=P139;
NET VD<3>	LOC=P138;
NET VD<4>	LOC=P137;
NET VD<5>	LOC=P136;
NET VD<6>	LOC=P135;
NET VD<7>	LOC=P134;

NET VA<0>	LOC=P129;
NET VA<1>	LOC=P128;
NET VA<2>	LOC=P126;
NET VA<3>	LOC=P125;
NET VA<4>	LOC=P124;
NET VA<5>	LOC=P121;
NET VA<6>	LOC=P120;
NET VA<7>	LOC=P119;
NET VA<8>	LOC=P118;
NET VA<9>	LOC=P117;
NET VA<10>	LOC=P116;
NET VA<11>	LOC=P115;
NET VA<12>	LOC=P113;
NET VA<13>	LOC=P112;
NET VA<14>	LOC=P111;
NET VA<15>	LOC=P110;
NET VA<16>	LOC=P107;
NET VA<17>	LOC=P106;
NET VA<18>	LOC=P105;

NET D<0>	LOC=P85;
NET D<1>	LOC=P83;
NET D<2>	LOC=P82;
NET D<3>	LOC=P81;
NET D<4>	LOC=P80;
NET D<5>	LOC=P79;
NET D<6>	LOC=P78;
NET D<7>	LOC=P77;

NET A<0>	LOC=P104;
NET A<1>	LOC=P103;
NET A<2>	LOC=P102;
NET A<3>	LOC=P101;
NET A<4>	LOC=P100;
NET A<5>	LOC=P98;
NET A<6>	LOC=P97;
NET A<7>	LOC=P96;
NET A<8>	LOC=P95;
NET A<9>	LOC=P94;
NET A<10>	LOC=P93;
NET A<11>	LOC=P92;
NET A<12>	LOC=P91;
NET A<13>	LOC=P87;
NET A<14>	LOC=P88;
NET A<15>	LOC=P86;

#NET RA<12>	LOC=P9;
#NET RA<13>	LOC=P10;
#NET RA<14>	LOC=P11;
#NET RA<15>	LOC=P12;
#NET RA<16>	LOC=P13;
#NET RA<17>	LOC=P14;
#NET RA<18>	LOC=P15;


NET VPA		LOC=P74;
NET VDA		LOC=P75;
	
NET NSEL1	LOC=P69;
NET NSEL2	LOC=P68;
NET NSEL4	LOC=P66;

#NET NROMSEL	LOC=P19;
NET NRAMSEL	LOC=P133;
NET RAMRWB	LOC=P28;

#NET NPGM	LOC=P17;

NET GRAPHIC	LOC=P70;

NET HSYNC	LOC=P48;
NET VSYNC	LOC=P49;
NET PXL 	LOC=P46; 
NET DCLK	LOC=P45;
NET DENA	LOC=P41;
NET PET_VSYNC	LOC=P40;

NET Q50M	LOC=P30;
NET Q50M	BUFG=CLK;

NET PHI2	LOC=P5;
NET PHI2	NOREDUCE;

NET RWB		LOC=P20;
NET NRES	LOC=P143;
NET RDY		LOC=P50;

NET DBG_OUT	LOC=P24;

NET BOOT<0>	LOC=P59;
NET BOOT<1>	LOC=P58;

NET SPI_IN1	LOC=P22;
NET SPI_IN2	LOC=P21;
NET SPI_IN3	LOC=P23;

NET NFLASH	LOC=P25;
#NET NFLASH2	LOC=P26;
NET SPI_NSEL2	LOC=P27;
NET SPI_NSEL3	LOC=P31;

NET MEMCLK	BUFG=CLK;
